@import "tailwindcss";


@theme {
     --color-amir:blue;
     --font-Inter_Medium:'Inter_Medium';
}

@utility container {
     margin: 0 auto;
     padding:1rem;
     margin-top: 72px;
     
}
/* @media (width >= 80rem) {
     .container{
          padding-left: 104px;
          padding-right: 104px;
     }
} */

@layer components{
     .my_card{
          /* display: flex;
          justify-content: center;
          align-items: center;
          background-color: aqua;
          color: blue;
          padding: 1rem; */

          @apply flex bg-blue-300 text-blue-950 p-4;
          
     }
}